<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		point="org.knime.workbench.repository.nodes">
      	<node
        	category-path="/manipulation"
            deprecated="false"
            factory-class="org.knime.base.expressions.node.row.mapper.ExpressionRowMapperNodeFactory"
            hidden="false">
      	</node>
      	<node
      		category-path="/manipulation"
      		factory-class="org.knime.base.expressions.node.row.filter.ExpressionRowFilterNodeFactory"
      		deprecated="false"
      		hidden="false">
      	</node>
      	<node
      		category-path="/manipulation"
      		factory-class="org.knime.base.expressions.node.variable.ExpressionFlowVariableNodeFactory"
      		deprecated="false"
      		hidden="false">
      	</node>
   </extension>  
    
   <extension 
   		point="org.knime.core.NodeFunc">
      	<nodeFunc
      		impl="org.knime.base.expressions.node.row.mapper.ExpressionRowMapperNodeFunc" />
   </extension>
   
   <extension
   		point="org.knime.core.NodeFactoryClassMapper">
        <NodeFactoryClassMapper
        	classMapper="org.knime.base.expressions.ExpressionNodeFactoryClassMapper">
   		</NodeFactoryClassMapper>
   </extension>
</plugin>
