<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/manipulation"
            deprecated="false"
            factory-class="org.knime.base.expressions.node.ExpressionNodeFactory"
            hidden="false">
      </node>
   </extension>
   <extension point="org.knime.core.NodeFunc">
      <nodeFunc
            impl="org.knime.base.expressions.node.ExpressionNodeFunc" />
   </extension>
</plugin>
